.container {
  /* background-image: url('./bg.jpg'); */
  /* height: 150px; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  border-bottom: 1px solid #f1f3f4;
  margin-bottom: 10px;
}

.avatar {
  flex-grow: 0.5;
  margin: 5px;
}

.info {
  width: 100%;
  padding-bottom: 5px;
  padding-left: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.username {
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
}

.bio {
  font-weight: lighter;
  -webkit-flow-into: 12px;
}

.buttonContainer {
  margin: 12px 12px 6px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.button {
  font-weight: 700;
  color: var(--black);
  font-size: 15px;
  padding: 7px 21px;
  border-radius: 15px;
  border: 0px;
  transition: all 500ms ease;
  background: var(--white);
  border: 1px solid var(--light);
  cursor: pointer;
}

.button:hover {
  background: var(--lighter);
  transition: all 500ms ease;
}
.button:active {
  background: var(--light);
  transition: all 200ms ease;
}
