:root {
  --lighter-overlay: #00000005;
  --light-overlay: #00000010;
  --dark-overlay: #00000066;
  --darker-overlay: #00000066;

  --blue-disabled: #9ccbf4;
  --blue: #1d9bf0;
  --blue-hover: #428ad2;
  --blue-active: #3a7abb;

  --red: #cc1111;
  --red-hover: #c13434;
  --red-active: #9b2727;

  --white: #ffffff;
  --white-transparent: #fffffff5;

  --lighter: #f1f3f4;
  --light: #cfd9de;

  --grey: #aaaaaa;
  --grey-hover: #666666;

  --black: #1b1c1e;
  --black-hover: #1d2124;
  --black-active: #303437;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
