.container {
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;

  position: relative;
  z-index: 2;
  background: var(--white);
  height: auto;
  margin-bottom: 120px;
}

.outlet {
  display: flex;
  flex-flow: column nowrap;
  max-width: 600px;
  width: 100%;
  height: 100%;
  /* border-left: 1px solid var(--lighter); */
  /* border-right: 1px solid var(--lighter); */
}

.header {
  position: -webkit-sticky;
  position: sticky;

  line-height: 24px;
  font-weight: 700;
  font-size: 20px;

  padding: 10px 0px;

  top: 0;
  background-color: var(--white-transparent);
  width: 100%;
}

.title {
  margin-left: 10px;
}
