.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 25px;

  padding: 10px 20px;
  border-radius: 20px;
}

.info {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.container:hover {
  border-radius: 35px;
  background-color: var(--lighter);
}

@media (max-width: 1100px) {
  .info {
    display: none;
  }
}

.logout {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 24px;
}
