.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-start;
  padding: 10px 20px;
  gap: 15px;
  border-radius: 20px;
  cursor: pointer;
  width: 220px;
}

@media (max-width: 850px) {
  .container {
    margin-bottom: 0px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 10px 7px;
  }
}

.hoverable:hover {
  background-color: var(--lighter);
}

.label {
  display: block;
}

.icon {
  display: flex;
  justify-content: center;
  width: 24px;
}

@media (max-width: 1100px) {
  .label {
    display: none;
  }
}
