.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 70px;
}

.button {
  padding: 10px;
}

.i {
  cursor: pointer;
  padding-right: 8px;
  display: inline-block;
  color: var(--grey);
  transition: 0.2s;
}

.i:hover {
  color: var(--grey-hover);
}

.i:active {
  animation: size 0.4s;
  color: var(--red-active);
}

.active {
  animation: size 0.4s;
  color: var(--red);
}

.active:hover {
  animation: size 0.4s;
  color: var(--red-hover);
}

.active:active {
  animation: size 0.4s;
  color: var(--red-active);
}

.counter {
  color: var(--grey);
  font-size: 14px;
}
