.container {
  height: 92vh;
  margin: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: -webkit-sticky;
  position: sticky;
  top: 7px;
  z-index: 2;
}

.nav {
  display: flex;
  flex-direction: column;

  font-size: 20px;
}

.accountLine {
  display: none;
}

.accountBottom {
  display: inline;
}

@media (max-width: 850px) {
  .logo {
    display: none;
  }
  .container {
    height: 100%;
    margin: 0px;
    padding: 0px;
    top: 0px;
  }
  .nav {
    flex-direction: row;
  }
  .accountLine {
    display: inline;
  }
  .accountBottom {
    display: none;
  }
}
